@inherits LayoutComponentBase
<div class="page">
    <AuthorizeView>
        <Authorized>
            <!-- Muestra el contenido de la pagina si estas autorizado o iniciaste sesion-->
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
